<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Courses - Home</title>
    <link rel="icon" th:href="@{/assets/images/logo-sm.png}" sizes="64x64">
</head>
<body>
<!--HEADER HOME-->
<div th:insert="~{home/fragments/header}"></div>


<!-- BANNER SECTION STARTS HERE 👇-->
<section class="tl-13-banner" data-bg-color="#f2efe8">
    <div class="container">
        <div class="row gy-5 align-items-center">
            <div class="col-lg-7">
                <div class="tl-13-banner-txt">
                    <h1 class="tl-13-banner-title">Learn Tech Embracing Technology Education Excellence.</h1>
                    <p class="tl-13-banner-descr">Through a combination of lectures, readings, and discussions, students will gain a solid foundation in educational psychology.</p>
                    <form th:action="@{/course/list/1}" class="tl-13-banner-search-form" method="get">
                        <input type="search" onkeyup="search()" name="searchInput" id="searchInput" placeholder="Search your course">
                        <button type="submit">Find course</button>
                        <ul id="searchResults" class="header-info-search"></ul>
                    </form>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="tl-13-banner-img text-center text-lg-end">
                    <img src="home/images/tl-13/banner-img.jpg" alt="Banner Image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- BANNER SECTION ENDS HERE 👆-->

<!-- ABOUT SECTION STARTS HERE 👇-->
<section class="tl-13-about pt-120 pb-60">
    <div class="container">
        <div class="row gx-0 gy-4 gy-md-5 align-items-center justify-content-between">
            <div class="col-xxl-7 col-lg-6">
                <div class="tl-13-about-img">
                    <img src="home/images/tl-13/about-img.jpg" alt="Image">

                    <div class="tl-13-about-stat">
                        <img src="home/images/tl-13/stat-icon.png" alt="Image" class="tl-13-about-stat-icon">
                        <span class="tl-13-about-stat-number">28+</span>
                        <span class="tl-13-about-stat-name">years of experience</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="tl-13-about-txt">
                    <h2 class="tl-13-section-title">Take The World Best Course <span class="last-word">Online</span>.</h2>
                    <p class="tl-13-about-descr">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected randomised words which don't look even slightly believable.</p>
                    <a th:href="@{/course/list/1}" class="tl-13-about-btn">Read More <i class="fa-regular fa-arrow-right-long"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="tl-13-about-features">
        <span class="tl-13-about-feature">Continuing </span>
        <span class="tl-13-about-feature">Academy </span>
        <span class="tl-13-about-feature">Learning management </span>
        <span class="tl-13-about-feature">teaching </span>
        <span class="tl-13-about-feature">Learning </span>
    </div>
</section>
<!-- ABOUT SECTION ENDS HERE 👆-->


<!-- POPULAR CATEGORIES SECTION STARTS HERE 👇-->
<section class="tl-13-categories pt-60 pb-120">
    <div class="container">
        <h2 class="tl-13-section-title"><span class="last-word">Course' Type</span></h2>

        <div class="row tl-13-categories-row">
            <div class="col-lg-3 col-md-4 col-6 col-xxs-12" th:each="courseType: ${courseTypes}">
                <a th:href="'/course/list/1?course_type_name='+${courseType.typeName}" class="tl-3-single-program">
                    <h4 class="tl-3-single-program-title" th:text="${courseType.typeName}"></h4>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- POPULAR CATEGORIES SECTION ENDS HERE 👆-->


<!-- POPULAR COURSES SECTION STARTS HERE 👇-->
<section class="tl-13-courses pt-120 pb-120" data-bg-color="#F2EFE8">
    <div class="container">
        <div class="tl-13-section-heading">
            <h2 class="tl-13-section-title">New <span class="last-word">Courses</span></h2>
            <div class="tl-13-courses-slider-nav"></div>
        </div>

        <div class="tl-13-courses-slider owl-carousel">
            <div class="tl-9-class tl-13-course" th:each="course: ${courses}">
                <span th:if="${course.salePrice!=0}" class="tl-9-class-tag" style="font-size: 16px;">$<span th:text="${course.salePrice}"></span> <del style="font-size: 12px; color: yellow; padding-left: 10px">$<del th:text="${course.price}"></del></del></span>
                <span th:unless="${course.salePrice!=0}" class="tl-9-class-tag" style="font-size: 16px;">$<span th:text="${course.price}"></span></span>
                <img th:src="${course.image}" alt="class image" class="tl-9-class-img">
                <h3 class="tl-13-course-title"><a th:href="'/course/detail/' + ${course.courseId}" th:text="${course.courseName}"></a></h3>
                <div class="tl-12-course-stats">
                    <div class="tl-12-course-stat">
                        <span class="tl-12-course-stat-icon"><i class="fa-regular fa-book-blank"></i></span>
                        <span class="tl-12-course-stat-txt"><span th:text="${course.freeNumbers}"></span> Free Lessons</span>
                    </div>
                    <div class="tl-12-course-stat">
                        <span class="tl-12-course-stat-icon"><i class="fa-regular fa-user-group"></i></span>
                        <span class="tl-12-course-stat-txt">Teacher: <span th:text="${course.user.username}"></span></span>
                    </div>
                </div>
                <div class="tl-13-course-actions">
                    <span href="#" class="tl-9-program-btn" th:text="${course.courseType.typeName}"></span>
                    <span href="#" class="tl-9-program-btn" th:text="${course.category.categoryName}"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- POPULAR COURSES SECTION ENDS HERE 👆-->


<!-- TESTIMONIAL SECTION STARTS HERE 👇-->
<section class="tl-13-testimonial pt-120 pb-120 bg-defaults" data-background="home/images/tl-13/testimonial-bg.png">
    <div class="container">
        <h2 class="tl-13-section-title">What <span class="last-word">Student</span> Says?</h2>
        <div class="row gy-4 align-items-center justify-content-center">
            <div class="col-lg-5">
                <div class="tl-13-testimonial-img">
                    <div class="tl-13-testimonial-user-slider">
                        <img th:src="${review.user.image}" alt="User Image" th:each="review: ${reviews}">
                    </div>

                    <img src="home/images/tl-13/quote-icon.png" alt="icon" class="tl-13-testimonial-quote-icon">
                </div>
            </div>

            <div class="col-lg-7">
                <div class="tl-13-testimonial-slider">
                    <div class="tl-4-testimony-txt" th:each="review: ${reviews}">
                        <div class="tl-course-details-stars mb-10 d-flex justify-content-center align-items-center" style="font-size: 35px">
                                    <span th:each="i : ${#numbers.sequence(1, 5)}">
                                        <i th:if="${i<=review.starNumber}" class="fa-solid fa-star"></i>
                                        <i th:if="${i>review.starNumber}" class="fa-regular fa-star"></i>
                                    </span>
                        </div>
                        <p class="tl-4-testimony-review" th:text="${review.comment}">.</p>

                        <div class="tl-4-reviewer">
                            <img th:src="${review.user.image}" alt="User Image" class="tl-4-reviewer-img">

                            <div class="tl-4-reviewer-txt">
                                <h6 class="tl-4-reviewer-name">Russell Sprout</h6>
                                <span class="tl-4-reviewer-label">Student, CSE</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
<!-- TESTIMONIAL SECTION ENDS HERE 👆-->


<!-- EVENTS SECTION STARTS HERE 👇-->
<section class="tl-13-events pt-120 pb-120" data-bg-color="#F2EFE8">
    <div class="container">
        <h2 class="tl-13-section-title">My <span class="last-word">Teachers</span></h2>

        <div class="owl-carousel owl-theme row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6" style="width: 100%" th:each="teacherRegister: ${teacherRegisters}">
                <div class="tl-9-event tl-13-event">
                    <div class="tl-11-latest-article-img">
                        <img th:src="${teacherRegister.user.image}" alt="Article Image">
                    </div>

                    <div class="tl-11-latest-article-txt">
                        <h3 class="tl-11-latest-article-title"><a th:href="'/teacher/detail/'+${teacherRegister.user.userId}" th:text="${teacherRegister.user.fullname}"></a></h3>
                        <div class="tl-3-single-event-info">
                            <h6 class="tl-3-single-event-time">
                                <i class="fas fa-envelope"></i> <a  style="max-width: 180px; overflow: hidden; text-overflow: ellipsis" th:href="'mailto:' + ${teacherRegister.user.email}" th:text="${teacherRegister.user.email}"></a>
                            </h6>
                        </div>
                        <div class="tl-3-single-event-info">
                            <h6 class="tl-3-single-event-location">
                                <i class="fas fa-phone"></i> <a  style="max-width: 180px; overflow: hidden; text-overflow: ellipsis" th:href="'tel:' + ${teacherRegister.user.phoneNumber}" th:text="${teacherRegister.user.phoneNumber}"></a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- EVENTS SECTION ENDS HERE 👆-->


<!--FOOTER HOME-->
<div th:insert="~{/home/fragments/footer}"></div>
<script>
    $(document).ready(function(){
        $(".owl-carousel").owlCarousel({
            loop: true,
            margin: 30,
            nav: false,
            dots: false,
            responsive:{
                0:{
                    items: 1
                },
                600:{
                    items: 2
                },
                1000:{
                    items: 3
                }
            }
        });
    });
</script>

</body>

</html>