<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Courses - Cart</title>
    <link rel="icon" th:href="@{/assets/images/logo-sm.png}" sizes="64x64">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

    <link rel="stylesheet" th:href="@{/home/cart/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/home/cart/css/venobox.min.css}" />
    <link rel="stylesheet" th:href="@{/home/cart/css/aos.css}" />
    <link rel="stylesheet" th:href="@{/home/cart/css/slick.css}" />
    <link rel="stylesheet" th:href="@{/home/cart/css/style.css}" />
    <link rel="stylesheet" th:href="@{/home/cart/css/responsive.css}" />
</head>
<body>
<!--HEADER HOME-->
<div th:insert="~{home/fragments/header}"></div>

<div class="tl-13-about tl-breadcrumb pt-120 pb-120">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-md-6">
                <div class="banner-txt">
                    <h1 class="tl-breadcrumb-title">Cart</h1>
                </div>
            </div>

            <div class="col-md-6">
                <ul class="tl-breadcrumb-nav d-flex">
                    <li><a href="/cart/list">Cart</a></li>
                    <li class="current-page">
                        <span class="dvdr"><i class="icofont-simple-right"></i></span>
                        <span>List</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row g-0 tl-event-details-row">
    <section class="shopping-cart">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tabel-main">
                        <table class="table">
                            <thead>
                            <tr class="tabel-main-top">
                                <th style="width: 20%; text-align: center">
                                    Image
                                </th>
                                <th style="width: 40%; text-align: center">
                                    Details
                                     
                                </th>
                                <th style="width: 20%; text-align: center">
                                    Price
                                     
                                </th>
                                <th style="width: 20%; text-align: center" class="details-control-two">
                                    Action
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="cartCourse: ${cartCourses}">
                                <td style="text-align: center">
                                    <div class="tabel-item">
                                        <div class="tabel-img">
                                            <img width="100px" th:src="${cartCourse.course.image}" alt="img" />
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="tabel-text">
                                        <h5 th:text="${cartCourse.course.courseName}"></h5>
                                        <p><span>Course' Type: </span> <span th:text="${cartCourse.course.courseType.typeName}"></span></p>
                                        <a th:href="@{/}"><span>Teacher: </span> <span th:text="${cartCourse.course.user.username}"></span></a>
                                    </div>
                                </td>
                                <td style="text-align: center">
                                    <div class="tabel-text" th:if="${cartCourse.course.salePrice==0}">
                                        <h6>$<span th:text="${cartCourse.course.price}"></span></h6>
                                    </div>
                                    <div class="tabel-text" th:unless="${cartCourse.course.salePrice==0}">
                                        <h6>$<span th:text="${cartCourse.course.salePrice}"></span></h6> <del th:text="${cartCourse.course.price}"></del>
                                    </div>
                                </td>
                                <td>
                                    <div class="tabel-modal-btn" style="justify-content: center">
                                        <a th:href="'/cart/deleteFromCart/'+${cartCourse.getCartCourseId()}">
                                          <span>
                                            <svg width="17" height="20" viewBox="0 0 17 20" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                              <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M5.834 0.890599C6.20493 0.334202 6.8294 0 7.4981 0H9.35737C10.0261 0 10.6505 0.334202 11.0215 0.8906L11.9277 2.25H15.6777C16.0919 2.25 16.4277 2.58579 16.4277 3C16.4277 3.41421 16.0919 3.75 15.6777 3.75H1.17773C0.763521 3.75 0.427734 3.41421 0.427734 3C0.427734 2.58579 0.763521 2.25 1.17773 2.25H4.92773L5.834 0.890599ZM11.4277 20H5.42773C3.2186 20 1.42773 18.2091 1.42773 16V5H15.4277V16C15.4277 18.2091 13.6369 20 11.4277 20ZM6.42773 8.25C6.84195 8.25 7.17773 8.58579 7.17773 9V16C7.17773 16.4142 6.84195 16.75 6.42773 16.75C6.01352 16.75 5.67773 16.4142 5.67773 16L5.67773 9C5.67773 8.58579 6.01352 8.25 6.42773 8.25ZM10.4277 8.25C10.8419 8.25 11.1777 8.58579 11.1777 9V16C11.1777 16.4142 10.8419 16.75 10.4277 16.75C10.0135 16.75 9.67774 16.4142 9.67773 16V9C9.67773 8.58579 10.0135 8.25 10.4277 8.25Z"
                                                    fill="white" />
                                            </svg>
                                          </span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tabel-main-btn">
                        <div class="row">
                            <div class="col-9"></div>
                            <div class="col-1 tabel-text"> <h3>Total: </h3></div>
                            <div class="col-2 tabel-text"><h3><span th:text="${total}"></span>$</h3></div>
                        </div>
                    </div>

                    <div class="tabel-main-btn" th:if="${!cartCourses.isEmpty() and cartCourses!=null}">
                        <a th:href="@{/payment}" class="main-btn-six">
                            Process to Checkout
                            <span>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 16L18 12M18 12L14 8M18 12L6 12" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
          </svg>
        </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!--FOOTER HOME-->
<div th:insert="~{/home/fragments/footer}"></div>

</body>
</html>