<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>

</head>
<body style="background-color: #f1f1f1;">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<div th:insert="~{home/fragments/header}"></div>
<link rel="stylesheet" th:href="@{/home/css/account-detail.css}">
<!-- BREADCRUMB STARTS HERE -->
<div class="tl-breadcrumb border-0 pt-120 pb-120">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-md-6">
                <div class="banner-txt">
                    <h1 class="tl-breadcrumb-title">My Account</h1>
                </div>
            </div>

            <div class="col-md-6">
                <ul class="tl-breadcrumb-nav d-flex">
                    <li><a href="index.html">Home</a></li>
                    <li class="current-page">
                        <span class="dvdr"><i class="icofont-simple-right"></i></span>
                        <span>My Accout</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB ENDS HERE -->
<!-- CONTACT SECTION STARTS HERE -->
<section class="tl-7-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="bg-light rounded-4">
                    <div class="nav flex-column nav-pills p-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <button class="detail2 active " id="v-pills-personal-detail-tab" data-bs-toggle="pill" data-bs-target="#v-pills-personal-detail" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Account Detail</button>
                        <button class=" detail2" id="v-pills-change-password-tab" data-bs-toggle="pill" data-bs-target="#v-pills-change-password" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Change Password</button>
                        <button class=" detail2" id="v-pills-my-courses-tab" data-bs-toggle="pill" data-bs-target="#v-pills-my-courses" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">My Courses</button>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="bg-light rounded-4">
                    <div class="tab-content p-4" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-personal-detail" role="tabpanel" aria-labelledby="v-pills-personal-detail-tab">
                            <form th:action="@{/home/account/updateAccount}" th:object="${user}" method="post" enctype="multipart/form-data">
                                <input type="hidden" th:field="*{userId}">
                                <input type="hidden" th:field="*{image}">
                                <input type="hidden" th:field="*{password}">

                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <div class="mb-3">
                                            <img id="displayImage" th:src="${user.image}" style="width: 200px; height: 200px; margin-right: 30px"/>
                                            <input id="fileImage" type="file" placeholder="Input your File" name="fileImage"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="username" class="form-label">Username</label>
                                            <input th:field="*{username}" type="text" class="form-control" id="username" name="username"
                                                   th:value="${user.getUsername()}" readonly />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="fullname" class="form-label">Full Name</label>
                                            <input th:field="*{fullname}" type="text" class="form-control" id="fullname" name="fullname"
                                                   placeholder="Enter your fulltname" th:value="${user.getFullname()}" />
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="birthday" class="form-label">Birthday</label>
                                            <input th:field="*{birthday}" type="date" class="form-control" id="birthday" name="birthday"
                                                   placeholder="Enter your birthday" th:value="${#dates.format(user.getBirthday(), 'yyyy-MM-dd')}" />
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="phoneNumber" class="form-label">Phone Number</label>
                                            <input th:field="*{phoneNumber}" type="text" class="form-control" id="phoneNumber"
                                                   placeholder="Enter your phone number" th:value="${user.getPhoneNumber()}" />
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="address" class="form-label">Phone Number</label>
                                            <input th:field="*{address}" type="text" class="form-control" id="address"
                                                   placeholder="Enter your phone number" th:value="${user.getAddress()}" />
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="email" class="form-label">Email Address</label>
                                            <input th:field="*{email}" type="email" class="form-control" id="email" name="email" placeholder="Enter your email"
                                                   th:value="${user.getEmail()}" />
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="gender" class="form-label">Gender</label>
                                            <select th:field="*{gender}" id="gender" name="gender" class="form-control" th:value="${user.getGender()}">
                                                <option value="1">Male</option>
                                                <option value="2">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error"></div>
                                            <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></div>
                                            <div style="color: red" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}" class="error"></div>
                                            <div style="color: red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" class="error"></div>
                                            <div style="color: red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="error"></div>
                                            <div style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="error"></div>
                                            <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></div>
                                            <div style="color: red" th:if="${#fields.hasErrors('image')}" th:errors="*{image}" class="error"></div>
                                            <div style="color: red" th:if="${#fields.hasErrors('status')}" th:errors="*{status}" class="error"></div>
                                            <div style="color: red" th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}" class="error"></div>
                                            <div style="color: red" th:if="${#fields.hasErrors('updateAt')}" th:errors="*{updateAt}" class="error"></div>

                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-12">
                                        <div class="hstack gap-2 justify-content-end">
                                            <button type="submit" class="btn btn-warning">
                                                Updates
                                            </button>
                                            <button type="button" class="btn btn-outline-warning">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </form>
                        </div>
                        <div class="tab-pane fade" id="v-pills-change-password" role="tabpanel" aria-labelledby="v-pills-change-password-tab">
                            <form th:action="@{/home/account/changePassword}" method="post">
                                <input type="hidden" name="username" th:value="${#authentication.getName()}">

                                <div class="row g-2">
                                    <div class="col-lg-4">
                                        <div>
                                            <label for="oldpasswordInput" class="form-label">Old Password*</label>
                                            <input type="password" class="form-control" id="oldpasswordInput" name="oldpasswordInput"
                                                   placeholder="Enter current password" />
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-4">
                                        <div>
                                            <label for="newpasswordInput" class="form-label">New Password*</label>
                                            <input type="password" class="form-control" id="newpasswordInput" name="newpasswordInput"
                                                   placeholder="Enter new password" />
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-4">
                                        <div>
                                            <label for="confirmpasswordInput" class="form-label">Confirm Password*</label>
                                            <input type="password" class="form-control" id="confirmpasswordInput" name="confirmpasswordInput"
                                                   placeholder="Confirm password" />
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-12">
                                        <div class="text-end">
                                            <button type="submit" class="btn btn-warning">
                                                Change Password
                                            </button>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </form>
                        </div>
                        <div class="tab-pane fade" id="v-pills-my-courses" role="tabpanel" aria-labelledby="v-pills-my-courses-tab">
                            <table id="table1" class="table" style="width:100%">
                                <thead>
                                <tr>
                                    <th>COURSE NAME</th>
                                    <th>BUY AT</th>
                                    <th>PRICE</th>
                                    <th>COURSE TYPE</th>
                                    <th>BUTTON</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="orderDetail: ${orderDetails}">
                                    <td th:text="${orderDetail.course.courseName}"></td>
                                    <td th:text="${orderDetail.order.updateAt}"></td>
                                    <td><span th:text="${orderDetail.price}"></span> $</td>
                                    <td th:text="${orderDetail.course.courseType.typeName}"></td>
                                    <td><a th:href="'/course/detail/' +${orderDetail.course.courseId}" style="text-decoration: underline">Go to your course</a></td>
                                </tr>
                                </tbody>
                                <tfoot th:if="${orderDetails.size()>5}">
                                <tr>
                                    <th>COURSE NAME</th>
                                    <th>BUY AT</th>
                                    <th>PRICE</th>
                                    <th>COURSE TYPE</th>
                                    <th>BUTTON</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:insert="~{home/fragments/footer}"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
<script>
    document.getElementById("fileImage").addEventListener("change", function (event){
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const imageDisplay = document.getElementById('displayImage');
                imageDisplay.src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    })

    new DataTable('#table1');

    var table = $('#table1').DataTable();

    var pageInfo = table.page.info();
    var totalPages = pageInfo.pages;

    if (totalPages <= 1) {
        $('.paging_full_numbers').hide();
    }
</script>
<!-- CONTACT SECTION ENDS HERE -->
</body>
</html>