<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="footer">
    <!-- FOOTER SECTION STARTS HERE -->
    <footer class="tl-footer tl-7-footer">
        <button onclick="topFunction()" class="btn btn-icon" id="back-to-top" style="background-color: #f4b826">
            <i class="fas fa-chevron-up"></i>
        </button>

        <div class="tl-footer-top">
            <div class="container">
                <div class="row gy-5 justify-content-between">
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="tl-footer-widget tl-3-footer-widget">
                            <a th:href="@{/}" class="logo">
                                <img th:src="@{/home/images/logos/tl-13-logo.png}" alt="logo">
                            </a>

                            <ul class="tl-footer-links tl-3-footer-contact-infos">
                                <li><a href="tel:8812354873654" class="tl-footer-number">(+84) 098 765 4321</a></li>
                                <li><a href="mailto:OnlineCourse@gmail.com" class="tl-footer-number">OnlineCourse@gmail.com</a></li>
                                <li>
                                    <p class="tl-3-footer-address">No 8A, Ton That Thuyet, Nam Tu Liem, Ha Noi</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 order-1 order-sm-2 order-lg-1">
                        <div class="row gy-5">
                            <div class="col-12 col-xxs-12">
                                <div class="tl-footer-widget tl-3-footer-widget">
                                    <h5 class="tl-footer-widget-title">Our Campus</h5>
                                    <ul class="tl-footer-links">
                                        <li><a href="/contactus">Contact Us</a></li>
                                        <li><a href="/course/list/1">Courses</a></li>
                                        <li><a href="/teacher/list">Teachers</a></li>
                                        <li><a th:href="@{/registerTeacher}">Register Teacher</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-12 order-2 order-sm-1 order-lg-2">
                        <div class="tl-footer-widget tl-3-footer-widget">
                            <h5 class="tl-footer-widget-title">Newsletter</h5>
                            <p class="tl-3-nwsltr-txt">Register now to get latest updates on promotions & coupons.</p>
                            <form action="#" class="tl-3-nwsltr-form">
                                <input type="email" name="nwsltr-mail" id="tl-3-nwsltr-mail" class="tl-3-nwsltr-mail-input" placeholder="Enter Your Email">
                                <button class="tl-3-def-btn" id="tl-3-nwsltr-btn">Get Newsletter</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tl-footer-bottom">
            <div class="container">
                <div class="row gy-4 align-items-center">
                    <div class="col-md-6">
                        <p class="tl-3-copyright-txt m-0 text-center text-md-start">Online Course @ 2024 - Project Sem4 - Group 3</p>
                    </div>

                    <div class="col-md-6">
                        <ul class="tl-footer-socials">
                            <li><a target="_blank" href="https://twitter.com"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a target="_blank" href="https://facebook.com"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a target="_blank" href="https://linkedin.com"><i class="fa-brands fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER SECTION STARTS HERE -->
</div>

<!-- JS FILES ↓ -->
<script th:src="@{/home/vendor/jquery/jquery-3.7.0.min.js}"></script>
<script th:src="@{/home/vendor/bootstrap/bootstrap.bundle.min.js}"></script>
<script th:src="@{/home/vendor/owl-carousel/owl.carousel.min.js}"></script>
<script th:src="@{/home/vendor/fs-lightbox/fslightbox.js}"></script>
<script th:src="@{/home/vendor/eocjs-newsticker/eocjs-newsticker.js}"></script>
<script th:src="@{/home/vendor/mean-menu/jquery.meanmenu.min.js}"></script>
<script th:src="@{/home/vendor/swiper-js/swiper-bundle.min.js}"></script>
<script th:src="@{/home/vendor/slick-slider/slick.min.js}"></script>
<script th:src="@{/home/vendor/bx-slider/jquery.bxslider.min.js}"></script>
<script th:src="@{/home/vendor/eocjs-newsticker/eocjs-newsticker.js}"></script>
<script th:src="@{/home/vendor/syotimer/jquery.syotimer.min.js}"></script>
<script th:src="@{/home/vendor/mixitup/mixitup.min.js}"></script>
<script th:src="@{/home/js/main.js}"></script>
<script th:src="@{/home/js/search.js}"></script>
<script th:src="@{/home/js/cart.js}"></script>
<script th:src="@{/home/js/courseTypeHeader.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        let menuToggle = document.getElementById("menu-toggle");
        let menu = document.getElementById("menu-toggle-detail");
        let close = document.getElementById("close-toggle");

        menuToggle.addEventListener("click", function() {
            menu.classList.toggle("show");
        });

        close.addEventListener("click", function() {
            menu.classList.remove("show");
        });
    });
</script>
<script th:if="${message!= null and !message.isEmpty() and statusMessage!=null and !statusMessage.isEmpty()}" th:inline="javascript">
    Swal.fire({
        position: "center",
        icon: /*[[${statusMessage}]]*/ "",
        title: /*[[${message}]]*/ "",
        showConfirmButton: false,
        timer: 1500
    });
</script>

<script>
    function topFunction() {
        document.documentElement.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }


    window.onscroll = function() {
        scrollFunction();
    };

    function scrollFunction() {
        const backToTopButton = document.getElementById("back-to-top");
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            backToTopButton.style.display = "block";
        } else {
            backToTopButton.style.display = "none";
        }
    }
</script>
</html>

