<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="footer">
    <!-- FOOTER SECTION STARTS HERE -->
    <footer class="tl-footer tl-7-footer">
        <div class="tl-footer-top">
            <div class="container">
                <div class="row gy-5 justify-content-between">
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="tl-footer-widget tl-3-footer-widget">
                            <a href="index.html" class="logo">
                                <img src="home/images/logos/tl-13-logo-light.png" alt="logo">
                            </a>

                            <ul class="tl-footer-links tl-3-footer-contact-infos">
                                <li><a href="tel:8812354873654" class="tl-footer-number">(88)123 5487 3654</a></li>

                                <li>
                                    <p class="tl-3-footer-address">681 Pompton Ave, Cedar Grove, NJ 5479 United States</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 order-1 order-sm-2 order-lg-1">
                        <div class="row gy-5">
                            <div class="col-6 col-xxs-12">
                                <div class="tl-footer-widget tl-3-footer-widget">
                                    <h5 class="tl-footer-widget-title">Our Campus</h5>
                                    <ul class="tl-footer-links">
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Courses</a></li>
                                        <li><a href="#">Help Centre</a></li>
                                        <li><a href="#">News</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-6 col-xxs-12">
                                <div class="tl-footer-widget tl-3-footer-widget">
                                    <h5 class="tl-footer-widget-title">Academics</h5>
                                    <ul class="tl-footer-links">
                                        <li><a href="#">Programming</a></li>
                                        <li><a href="#">Art &amp; Design</a></li>
                                        <li><a href="#">Business</a></li>
                                        <li><a href="#">Engineering</a></li>
                                        <li><a href="#">Photography</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-12 order-2 order-sm-1 order-lg-2">
                        <div class="tl-footer-widget tl-3-footer-widget">
                            <h5 class="tl-footer-widget-title">Newsletter</h5>
                            <p class="tl-3-nwsltr-txt">Register now to get latest updates on promotions & coupons.</p>
                            <form action="#" class="tl-3-nwsltr-form">
                                <input type="email" name="nwsltr-mail" id="tl-3-nwsltr-mail" class="tl-3-nwsltr-mail-input" placeholder="Enter Your Email">
                                <button class="tl-3-def-btn" id="tl-3-nwsltr-btn">Get Newsletter</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tl-footer-bottom">
            <div class="container">
                <div class="row gy-4 align-items-center">
                    <div class="col-md-6">
                        <p class="tl-3-copyright-txt m-0 text-center text-md-start">Copyright © 2023 All Rights Reserved by Kidba</p>
                    </div>

                    <div class="col-md-6">
                        <ul class="tl-footer-socials">
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER SECTION STARTS HERE -->
</div>