<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div th:fragment="header">
    <!-- preloader start 👇-->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="loading-content">
                    <img class="loading-logo-text" th:src="@{/home/images/logo/logo-text.png}" alt="Kidba">
                    <div class="loading-stroke">
                        <img class="loading-logo-icon" th:src="@{/home/images/logo/logo-icon.png}" alt="Pen">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- preloader end 👆-->

    <!-- HEADER SECTION STARTS HERE 👇-->
    <div class="tl-header tl-13-header" data-bg-color="#F2EFE8">
        <div class="container">
            <div class="row g-0 align-items-center">
                <div class="col-xl-2 col-lg-2">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-6">
                            <div class="logo">
                                <a th:href="@{/}">
                                    <img th:src="@{/home/images/logos/tl-13-logo.png}" alt="KIDBA">
                                </a>
                            </div>
                        </div>
                        <div class="d-lg-none d-flex justify-content-end col-6">
                            <button class="tl-hamburger navbar-toggler">
                                <i class="icofont-navigation-menu"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-7">
                    <div class="tl-nav-menu">
                        <ul class="justify-content-center">
                            <li class="tl-nav-item tl-dropdown">
                                <a th:href="@{/}" role="button">
                                    Home
                                </a>
                            </li>

                            <li class="tl-nav-item tl-dropdown">
                                <a th:href="@{/course/list/1}" role="button">
                                    Courses
                                </a>
                            </li>

                            <li class="tl-nav-item tl-dropdown">
                                <a href="#" role="button">
                                    Pages <i class="fa-regular fa-angle-down"></i>
                                </a>
                                <ul class="tl-submenu">
                                    <li class="tl-dropdown-2">
                                        <a href="#">About <i class="fa-regular fa-angle-right"></i></a>

                                        <ul class="tl-submenu tl-submenu-2">
                                            <li><a href="about.html">About One</a></li>
                                            <li><a href="about-2.html">About Two</a></li>
                                            <li><a href="about-3.html">About Three</a></li>
                                            <li><a href="about-4.html">About Four</a></li>
                                            <li><a href="about-5.html">About Five</a></li>
                                            <li><a href="about-6.html">About Six</a></li>
                                            <li><a href="about-7.html">About Seven</a></li>
                                            <li><a href="about-8.html">About Eight</a></li>
                                        </ul>
                                    </li>
                                    <li class="tl-dropdown-2">
                                        <a href="#">Staff <i class="fa-regular fa-angle-right"></i></a>

                                        <ul class="tl-submenu tl-submenu-2">
                                            <li><a href="staff.html">Staff One</a></li>
                                            <li><a href="staff-2.html">Staff Two</a></li>
                                            <li><a href="staff-3.html">Staff Three</a></li>
                                            <li><a href="staff-4.html">Staff Four</a></li>
                                            <li><a href="staff-5.html">Staff Five</a></li>
                                            <li><a href="staff-6.html">Staff Six</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="staff-profile.html">Staff Profile</a></li>
                                    <li class="tl-dropdown-2">
                                        <a href="#">Event <i class="fa-regular fa-angle-right"></i></a>

                                        <ul class="tl-submenu tl-submenu-2">
                                            <li><a href="event.html">Event One</a></li>
                                            <li><a href="event-2.html">Event Two</a></li>
                                            <li><a href="event-3.html">Event Three</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="event-details.html">Event Details</a></li>
                                </ul>
                            </li>

                            <li class="tl-nav-item tl-dropdown">
                                <a href="#" role="button">
                                    Blog <i class="fa-regular fa-angle-down"></i>
                                </a>
                                <ul class="tl-submenu">
                                    <li class="tl-dropdown-2">
                                        <a href="#">Blog <i class="fa-regular fa-angle-right"></i></a>

                                        <ul class="tl-submenu tl-submenu-2">
                                            <li><a href="blog.html">Blog One</a></li>
                                            <li><a href="blog-2.html">Blog Two</a></li>
                                            <li><a href="blog-3.html">Blog Three</a></li>
                                            <li><a href="blog-4.html">Blog Four</a></li>
                                            <li><a href="blog-5.html">Blog Five</a></li>
                                            <li><a href="blog-6.html">Blog Six</a></li>
                                            <li><a href="blog-7.html">Blog Seven</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>

                            <li class="tl-nav-item tl-dropdown">
                                <a href="#">Contact <i class="fa-regular fa-angle-down"></i></a>

                                <ul class="tl-submenu">
                                    <li><a href="contact.html">Contact One</a></li>
                                    <li><a href="contact-2.html">Contact Two</a></li>
                                </ul>
                            </li>

                            <div sec:authorize="hasAnyRole('ROLE_ADMIN')">
                                <li class="tl-nav-item tl-dropdown">
                                    <a class="text-danger" th:href="@{/admin/dashboard}" role="button">
                                        Admin
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>

                <div class="col-3 d-lg-block d-none">
                    <div sec:authorize="isAnonymous()" class="tl-header-actions tl-13-header-actions d-flex justify-content-end align-items-center">
                        <a th:href="@{/register}"> Register</a>
                        <a th:href="@{/login}" class="tl-def-btn"><i class="fa-regular fa-user"></i> Login</a>
                    </div>
                    <div sec:authorize="isAuthenticated()" class="tl-header-actions tl-13-header-actions d-flex justify-content-end align-items-center">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit">Log Out</button>
                        </form>
                        <a th:href="@{#}" class="tl-def-btn"><i class="fa-regular fa-user"></i> <span th:text="${#authentication.name}"></span> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- HEADER SECTION ENDS HERE 👆-->
</div>
