<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
      data-sidebar-image="none" data-preloader="disable">

<head>
    <meta charset="utf-8" />
    <title>Admin - Order List</title>
    <link rel="icon" th:href="@{/assets/images/logo-sm.png}" sizes="64x64">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
</head>

<body>
<!-- Begin page -->
<div id="layout-wrapper">
    <div th:insert="~{admin/fragments/header}"></div>

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <!-- end page title -->

                <div class="row">
                    <div class="col-xxl-12">
                        <table id="table1" class="table table-striped" style="width:100%">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>USER</th>
                                <th>PAYMENT CODE</th>
                                <th>PAYMENT METHOD</th>
                                <th>CREATE AT</th>
                                <th>TOTAL</th>
                                <th>STATUS</th>
                                <th>BUTTON</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="order: ${orders}">
                                <td class="align-middle" th:text="${order.orderId}"></td>
                                <td class="align-middle" th:text="${order.user.fullname}"></td>
                                <td class="align-middle" th:text="${order.paymentCode}"></td>
                                <td class="align-middle" th:text="${order.paymentMethod.paymentMethodName}"></td>
                                <td class="align-middle" th:text="${order.createAt}"></td>
                                <td class="align-middle"><span th:text="${order.total}"></span> $</td>
                                <td th:if="${order.status == 1}" class="align-middle text-success fw-bolder">Success</td>
                                <td th:unless="${order.status == 1}" class="align-middle text-danger fw-bolder">Unsuccess</td>
                                <td>
                                    <a th:href="@{detail/{id}(id=${order.orderId})}" class="btn btn-primary">Detail</a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot  th:if="${orders.size()>5}">
                            <tr>
                                <th>ID</th>
                                <th>USER</th>
                                <th>PAYMENT CODE</th>
                                <th>PAYMENT METHOD</th>
                                <th>CREATE AT</th>
                                <th>TOTAL</th>
                                <th>STATUS</th>
                                <th>BUTTON</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <!-- end row -->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->

<!--start back-to-top-->
<div th:insert="~{admin/fragments/footer}"></div>
</body>

</html>