<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
      data-sidebar-image="none" data-preloader="disable">

<head>
    <meta charset="utf-8" />
    <title>Admin - Edit Category</title>
    <link rel="icon" th:href="@{/assets/images/logo-sm.png}" sizes="64x64">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->

</head>

<body>
<!-- Begin page -->
<div id="layout-wrapper">
    <div th:insert="~{admin/fragments/header}"></div>

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <!-- end page title -->

                <div class="row">
                    <div class="col-xxl-12">
                        <form th:action="@{/admin/category/edit}" method="post" th:object="${category}">
                            <input type="hidden" th:field="*{categoryId}">
<!--                            <input type="hidden" th:field="*{updateAt}">-->
                            <div class="mb-3">
                                <label for="categoryName" class="form-label">Category Name</label>
                                <input th:field="*{categoryName}" type="text" class="form-control" id="categoryName" name="categoryName" placeholder="Category Name">
                            </div>
                            <div class="mb-3">
                                <label for="stt" class="form-label">Status1</label>
                                <input th:field="*{status}" type="text" class="form-control" id="stt" name="createAt" placeholder="Status">
                            </div>
<!--                            <div class="mb-3">-->
<!--                                <label for="status" class="form-label">Status</label>-->
<!--                                <select th:field="*{status}" class="form-control" id="status" name="status">-->
<!--                                    <option value="1" th:selected="${category.status == 1}">1 - Visible</option>-->
<!--                                    <option value="2" th:selected="${category.status == 2}">2 - Hidden</option>-->
<!--                                </select>-->
<!--                            </div>-->


                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea th:field="*{description}" class="form-control" id="description" name="description" placeholder="Description"></textarea>
                            </div>


<!--                            <ul>-->
<!--                                <li style="color: red" th:if="${#fields.hasErrors('roleName')}" th:errors="*{roleName}" class="error"></li>-->
<!--                                <li style="color: red" th:if="${#fields.hasErrors('status')}" th:errors="*{status}" class="error"></li>-->
<!--                            </ul>-->

                            <button type="submit" class="btn btn-danger">Edit</button>
                        </form>
                    </div>
                </div>

                <!-- end row -->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        © Velzon.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Design & Develop by Themesbrand
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->

<!--start back-to-top-->
<div th:insert="~{admin/fragments/footer}"></div>
</body>

</html>