<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">

<head>
    <meta charset="utf-8" />
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}" />
</head>

<body>
<!-- Begin page -->
<div id="layout-wrapper">
    <div th:insert="~{admin/fragments/header}"></div>

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xxl-12">
                        <form th:action="@{/admin/account/add}" method="post" th:object="${user}">
                            <input type="hidden" th:field="*{userId}">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input th:field="*{username}" type="text" class="form-control" id="username" name="username" placeholder="Username">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input th:field="*{password}" type="password" class="form-control" id="password" name="username" placeholder="Password">
                            </div>
                            <div class="mb-3">
                                <label for="fullname" class="form-label">Full Name</label>
                                <input th:field="*{fullname}" type="text" class="form-control" id="fullname" name="fullname" placeholder="Full Name">
                            </div>
                            <div class="mb-3">
                                <label for="freeNumbers" class="form-label">Free Number</label>
                                <input th:field="*{freeNumbers}" type="text" class="form-control" id="freeNumbers" name="freeNumbers" placeholder="Free Numbers">
                            </div>
                            <div class="mb-3">
                                <label for="sta" class="form-label">Status</label>
                                <select th:field="*{status}" class="form-select" id="sta">
                                    <option value="1">OPEN</option>
                                    <option value="2">LOCK</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="user" class="form-label">User</label>
                                <input th:field="*{user}" type="text" class="form-control" id="user" name="user" placeholder="User">
                            </div>
                            <div class="mb-3">
                                <label for="ctg" class="form-label">Category</label>
                                <select th:field="*{category}" class="form-select" id="ctg">
                                    <option value="1">A</option>
                                    <option value="2">B</option>
                                    <option value="2">C</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="courseType" class="form-label">Course Type</label>
                                <input th:field="*{courseType}" type="text" class="form-control" id="courseType" name="user" placeholder="courseType">
                            </div>
                            <div class="mb-3">
                                <label for="Censor" class="form-label">Censor</label>
                                <input th:field="*{censor}" type="text" class="form-control" id="Censor" name="Censor" placeholder="Censor">
                            </div>
                            <button type="submit" class="btn btn-danger">Add</button>
                        </form>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        © Velzon.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Design & Develop by Themesbrand
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->

<!--start back-to-top-->
<div th:insert="~{admin/fragments/footer}"></div>
</body>

</html>