<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
      data-sidebar-image="none" data-preloader="disable">

<head>
    <meta charset="utf-8" />
    <title>Admin - Exam List</title>
    <link rel="icon" th:href="@{/assets/images/logo-sm.png}" sizes="64x64">    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
</head>

<body>
<!-- Begin page -->
<div id="layout-wrapper">
    <div th:insert="~{admin/fragments/header}"></div>

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <!-- end page title -->

                <div class="row">
                    <div class="col-xxl-12">
                        <table id="table1" class="table table-striped" style="width:100%">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>EXAM NAME</th>
                                <th>TIME</th>
                                <th>UPDATED AT</th>
                                <th>COURSE</th>
                                <th>STATUS</th>
                                <th>BUTTON</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="exam: ${exams}">
                                <td class="align-middle" th:text="${exam.examId}"></td>
                                <td class="align-middle" th:text="${exam.examName}"></td>
                                <td class="align-middle"><span th:text="${exam.time}"></span>'</td>
                                <td class="align-middle" th:text="${exam.createAt}"></td>
                                <td class="align-middle" th:text="${exam.course.courseName}"></td>
                                <td th:if="${exam.status == 1}" class="align-middle text-success fw-bolder">OPEN</td>
                                <td th:unless="${exam.status == 1}" class="align-middle text-danger fw-bolder">LOCK</td>
                                <td>
                                    <a th:href="@{detail/{id}(id=${exam.examId})}" class="btn btn-primary">Detail</a>
                                    <a th:href="@{hidden/{id}(id=${exam.examId})}" class="btn btn-danger" th:text="${exam.status==1?'LOCK':'OPEN'}"></a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot th:if="${exams.size()>5}">
                            <tr>
                                <th>ID</th>
                                <th>EXAM NAME</th>
                                <th>TIME</th>
                                <th>UPDATED AT</th>
                                <th>DESCRIPTION</th>
                                <th>STATUS</th>
                                <th>BUTTON</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <!-- end row -->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->

<!--start back-to-top-->
<div th:insert="~{admin/fragments/footer}"></div>
</body>

</html>